*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:linear-gradient(120deg,#4facfe,#00f2fe);
height:100vh;

display:flex;
justify-content:center;
align-items:center;

}


.container{

background:white;

width:500px;

padding:25px;

border-radius:12px;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

}


header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;

}


header h1{

color:#333;

}


#themeToggle{

border:none;
font-size:20px;
background:none;
cursor:pointer;

}


.controls{

display:flex;
gap:8px;
margin-bottom:15px;

}


.controls input,
.controls select{

padding:8px;
border:1px solid #ccc;
border-radius:5px;

}


.controls button{

background:#4facfe;
border:none;
color:white;
padding:8px 12px;
border-radius:5px;
cursor:pointer;

}


.searchBox input{

width:100%;
padding:8px;
border:1px solid #ccc;
border-radius:5px;
margin-bottom:15px;

}


ul{

list-style:none;

}


li{

display:flex;
justify-content:space-between;
align-items:center;

background:#f4f4f4;

padding:10px;

border-radius:6px;

margin-bottom:10px;

}


.priorityHigh{

border-left:6px solid red;

}

.priorityMedium{

border-left:6px solid orange;

}

.priorityLow{

border-left:6px solid green;

}


.completed{

text-decoration:line-through;
opacity:0.6;

}


.deleteBtn{

background:red;
color:white;
border:none;
padding:5px 8px;
border-radius:4px;
cursor:pointer;

}


.progressContainer{

height:8px;
background:#ddd;
border-radius:5px;
margin-bottom:10px;

}


.progressBar{

height:8px;
background:#4facfe;
width:0%;
border-radius:5px;

}


/* DARK MODE */

.dark{

background:#1e1e1e;
color:white;

}

.dark .container{

background:#2b2b2b;

}

.dark li{

background:#3a3a3a;

}