body{
font-family: Arial, sans-serif;
margin:0;
background:#f4f4f4;
}

.app{
display:flex;
height:100vh;
}

/* Sidebar */

.sidebar{
width:250px;
background:#db4c3f;
color:white;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:10px;
margin-bottom:10px;
cursor:pointer;
border-radius:5px;
}

.sidebar li:hover{
background:rgba(255,255,255,0.2);
}

/* Main */

.main{
flex:1;
padding:40px;
background:white;
}

.task-input{
margin-bottom:30px;
}

.task-input input{
padding:10px;
width:250px;
border:1px solid #ccc;
border-radius:5px;
}

.task-input select{
padding:10px;
}

.task-input button{
padding:10px 15px;
background:#db4c3f;
border:none;
color:white;
border-radius:5px;
cursor:pointer;
}

.task-input button:hover{
background:#c0392b;
}

/* Tasks */

#taskList{
list-style:none;
padding:0;
}

.task{
display:flex;
justify-content:space-between;
align-items:center;
background:#fafafa;
padding:12px;
margin-bottom:10px;
border-radius:5px;
border-left:6px solid grey;
}

/* Priority colors */

.high{
border-left-color:red;
}

.medium{
border-left-color:orange;
}

.low{
border-left-color:green;
}

.delete{
background:red;
border:none;
color:white;
padding:5px 10px;
border-radius:4px;
cursor:pointer;
}